/* Style for the form container */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the form container covers the entire viewport height */
}

/* Style for the form */
form {
  width: 400px; /* Adjust the width of the form as needed */
  padding: 20px;
  border: 1px solid #964141;
  border-radius: 10px;
  background-color: #f30808;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for form groups */
.form-group {
  margin-bottom: 20px;
}

/* Style for labels */
label {
  display: block;
  font-weight: bold;
}

/* Style for input fields and select */
input[type="text"],
input[type="datetime-local"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Style for submit button */
button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect for submit button */
button[type="submit"]:hover {
  background-color: #e56808;
}
